.request-container {
  position: relative;
}

.request-button-container {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.Request.signed-row {
  background-color: #e6fffb;
}

.Request.styled-button {
  background-color: #1890ff;
  color: white;
  border: none;
}

.Request.styled-button:disabled {
  background-color: #d9d9d9;
  color: #a6a6a6;
}

