.signin-form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.signin {
  display: block;
  font-weight: bold;
  position: relative;
  margin-bottom: 5px;
  font-size: 15px;
}

.input-signin-cccd,
.input-signin-password {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input-signin-cccd:hover,
.input-signin-password:hover {
  border-color: orangered;
}

.input-signin-cccd:focus,
.input-signin-password:focus {
  border-color: orangered;
  outline: none;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 5px;
  top: 65%;
  transform: translateY(-51%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: gray;
}

.signin-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-submit input {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  margin-top: 15px;
  background-color: orangered;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.signin-submit input:hover {
  background-color: rgb(255, 98, 40);
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: orangered;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
